.match-data {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;

    align-items: center;

    height: 40px;

    border-radius: 8px;

    background-color: var(--purple-darker);
}

.match-data:hover {
    background-color: var(--black);
    border: var(--cyan) 2px solid;
}

@media screen and (width > 630px) {
    .match-data {
        padding-left: 50px;
        padding-right: 50px;

        margin-bottom: 10px;
    }

    #md-date {
        min-width: 175px;
    }
}

@media screen and (width < 630px) {
    .match-data {
        padding-left: 10px;
        padding-right: 20px;

        margin-bottom: 5px;
        height: max-content;
    }
}

#md-date {
    flex: 1 1 0;

    max-width: 175px;
    margin-right: 10px;
}

#md-score {
    flex: 1;

    max-width: 200px;
    min-width: 80px;

    text-align: left;
}

.opponent-profile {
    text-decoration: none;
    color: var(--white);
    justify-content: center;
}

.opponent-profile:hover {
    color: var(--cyan);
}

.opponent-profile #opponent-name {
    display: flex;
}

#md-in-progress {
    color: yellow;
    text-align: center;
}

@media screen and (width > 630px) {
    #md-type{
        flex: 1;

        max-width: 100px;
        min-width: 90px;
    }

    .opponent-profile {
        min-width: 175px;
    }

    .opponent-profile #opponent-name {
        flex-direction: row;
        flex: 2;

        gap: 10px;

        align-items: center;
        justify-content: left;

        margin-left: 25px;
    }
}

@media screen and (width < 630px) {
    #md-type{
        flex: 1;

        max-width: 100px;
        min-width: 70px;
    }

    .opponent-profile {
        min-width: 100px;
    }

    .opponent-profile #opponent-name {
        align-items: center;
        margin-left: 20px;
    }

    #gi-name {
        display: none;
    }
}

#md-win {
    color: green;
}

#md-loose {
    color: red;
}

/* ===================================================================== */

.match-data-header {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: left;

    border-radius: 8px;
}

#md-header-date {
    flex: 1 1 0;

    max-width: 175px;
    margin-right: 10px;
}

#md-header-type {
    flex: 1;
    max-width: 175px;
    min-width: 80px;
}

#md-header-score {
    flex: 1;

    max-width: 150px;
    min-width: 70px;
}

#md-header-opponent {
    flex: 1;

    max-width: 200px;
    min-width: 100px;
}

@media screen and (width > 630px) {
    .match-data-header {
        padding-left: 50px;
        padding-right: 50px;

        margin-bottom: 10px;
    }

    #md-header-date {
        min-width: 175px;
    }
}

@media screen and (width < 630px) {
    .match-data-header {
        padding-left: 10px;
        padding-right: 20px;

        margin-bottom: 5px;
    }

    #md-header-date {
        min-width: 100px;
    }
}
