.div-Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    width: 100%;
    height: 40px;
    left: 0px;
    top: 0px;

    background: #292840;
}

.div-Right{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 110px;
}

.div-Left{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.div-link{
    width: 45px;
    height: 22px;

    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 700;
    font-size: 70%;
    line-height: 140%;
    text-decoration: none;

    display: flex;
    justify-content: center;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.div-link:hover {
    background-color: #00CCCC;
    border-radius: 30%;

    text-align: center;
    height: 30px;
}