#root {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;

    min-width: 100%;
    min-height: 100%;

    background-origin: content-box;
    background-repeat: no-repeat;
    background-image: url("./resource/home-forme.svg");
    background-size: cover;
    background-position: 50% 17%;
}

html body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 67px;
    line-height: 110%;
}

h2 {
    font-size: 51px;
    line-height: 110%;
}

h3 {
    font-size: 38px;
    line-height: 110%;
}

h5 {
    font-size: 22px;
    line-height: 110%;
}

a {
    text-decoration: none;
}

button {
    border: none;
}