:root {
  /* color palette */
  --black: #2B2B2B;
  --white: #FFFFFF;
  --grey: #858584;
  --dark-grey: #3B3B3B;
  --bg: #292840;
  --purple-darker: #3E3C73;
  --purple-dark: #4E458C;
  --purple-wave: #8449BF;
  --cyan: #307585;
  --vp-size: calc(100vh - 60px - 3.5em);

  color-scheme: light dark;

  background-color: var(--bg);
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-family: 'Space Mono', monospace;
  font-weight: bold;
}
