.gamePage {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 20px;

    text-align: center;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.gameBox {
    gap: 10px;

    flex-direction: column;
}

.gameScreen {
    display: flex;
    box-sizing: border-box;

    justify-content: center;

    aspect-ratio: 16 / 9;
}

.players {
    display: flex;
    justify-content: center;
    text-align: center;
}

.chatBox {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    flex: auto;

    overflow-y: auto;
    width: 100%;

    max-height: 400px;
    max-width: 800px;

    justify-content: center;
    align-items: center;

    border-radius: 20px;
}

.game-extra {
    display: flex;
    width: 100%;
    height: 100%;

   align-items: center;
    gap: 10px;
}

@media screen and (width < 350px) {
    .gamePage {
        flex-direction: column;
    }

    .gameScreen {
        width: 200px;
        height: 100px;
    }

    .game-extra {
        flex-direction: column;
    }
}

@media screen and (width >= 300px) and (width < 800px) {
    .gamePage {
        flex-direction: column;
    }

    .gameScreen {
        width: 700px;
        height: 350px;
    }

    .game-extra {
        flex-direction: column;
    }
}

@media screen and (width >= 800px) and (width < 1600px) {
    .gamePage {
        flex-direction: column;
    }

    .players {
        flex-direction: row;
        gap: 10px;
    }

    .game-extra {
        flex-direction: column;
    }
}

@media screen and (width >= 1600px) and (width < 2400px) {
    .gamePage {
        flex-direction: column;
    }

    .gameScreen {
        width: 1400px;
        height: 700px;
    }

    .game-extra {
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (width >= 2400px) {
    .gamePage {
        flex-direction: row;
    }

    .gameScreen {
        width: 2000px;
        height: 1000px;
    }

    .game-extra {
        flex-direction: column;
        justify-content: center;
    }
}
