.game-page {
    width: 100%;
    height: 100%;

    display: grid;
    margin-bottom: 60px;

    overflow-y: auto;
    z-index: 0;
}

.game-box {
    position: relative;
    grid-area: g;
    margin: 20px 10px 20px 20px;
    aspect-ratio: 16/9;
}

.game-extra {
    position: relative;
    grid-area: c;
}

.game-chat-box {
    width: 100%;
    height: 85%;
}

@media screen and (width <= 1000px) {
    .game-page {
        grid-template-areas:
        "g g g g"
        "c c c c"
        "c c c c"
        "c c c c"
        "c c c c"
        "c c c c"
        "c c c c"
        "c c c c"
        "c c c c"
        "c c c c"
        "c c c c"
        "c c c c"
        "c c c c"
        "c c c c"
        "c c c c"
        "c c c c"
        "c c c c"
        "c c c c"
        "c c c c"
    }

    .game-extra {
        margin: 20px 20px 20px 20px;
    }

    .game-chat-box {
        max-height: 200px;
    }
}

@media screen and (width > 1000px) {
    .game-page {
        grid-gap: 10px;

        grid-template-areas:
        "g g g g g g g g c"
        "g g g g g g g g c"
    }

    .game-extra {
        margin: 20px 20px 20px 0px;
    }
}

.game-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
}
