.playerList {
    display: flex;

    align-items: center;
    text-align: center;
    gap: 50px;

    flex-direction: row;
}

.vs {
    color: red;
}

.playerAvatar {
    display: flex;
    justify-content: center;
}