.profile-page {
    display: flex;
    flex-direction: column;

    align-items: center;

    overflow-y: auto;
    margin-bottom: 40px;
}

.profile-infobox {
    box-sizing: border-box;

    display: flex;

    width: 100%;
    min-width: max-content;

    align-items: center;
    justify-content: center;

    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(27, 30, 36, 0.75) 100%);
}

.profile-infobox #info {
    display: flex;
    flex-direction: column;

    flex: 1;
}

@media screen and (width > 630px) {
    .profile-infobox {
        flex-direction: row;

        max-width: 50%;

        margin-top: 30px;
        padding: 15px 30px;

        gap: 25px;
    }
}

@media screen and (width < 630px) {
    .profile-infobox {
        flex-direction: column;

        width: 100%;

        margin-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 10px;
    }
}

.profile-infobox #header {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.profile-infobox #nickname {
    margin-bottom: 30px;
    align-content: baseline;
}

.profile-stats {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;

    margin-top: 5px;
    margin-bottom: 25px;
    padding: 10px 0;

    gap: 50px;

    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: rgb(27, 30, 36, 0.75);
}

@media screen and (width > 630px) {
    .profile-stats {
        max-width: 50%;
        min-width: 613px;
    }
}

@media screen and (width < 630px) {
    .profile-stats {

    }
}

#elo, #game-played, #win-rate {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 10px;
}

.games-stats-box {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    width: 100%;
    justify-content: left;

    padding: 10px;
    gap: 10px;

    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: rgb(27, 30, 36, 0.75);
}

@media screen and (width > 630px) {
    .games-stats-box {
        max-width: 50%;
        min-width: 613px;
    }

    #games-stats-title {
        margin: 0 0 0 50px;
        padding: 0;
    }
}

@media screen and (width < 630px) {
    .games-stats-box {

    }

    #games-stats-title {
        margin: 0 0 0 10px;
        padding: 0;
    }
}

#games-stats-hrbar {
    width: 100%;
    border: 0;
    height: 2px;
    margin: 5px 0 0;
    background: var(--grey);
}

.gamesStatsBox #hrbar2 {
    width: 100%;
    border: 0;
    height: 2px;
    margin: 0;
    background: var(--dark-grey);
}

.matches-table {
    margin-bottom: 10px;
}

.friendButton {
    width: 100px;
    height: 50px;
    margin-left: 20px;
    padding: 0px 5px;
    border-radius: 8px;
    color: white;
    background-color: var(--purple-wave);
    justify-content: center;
    align-items: center;
    font-weight: 1000;
    cursor: pointer;
}

.blocked {
    height: var(--vp-size);
    width: 80%;
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}