progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: auto;
    height: 15px;
    background-color: var(--black);
    border-radius: 20px;
    border-color: var(--cyan);
}

progress[value]::-webkit-progress-bar {
    -webkit-appearance: none;
    appearance: none;
    width: auto;
    height: 15px;
    background-color: var(--black);
    border-radius: 20px;
    border-color: var(--cyan);
}


progress::-webkit-progress-value {
    border-radius: 20px;
    border-color: var(--cyan);
    background-color: var(--cyan);
}

progress::-moz-progress-bar {
    background-color: var(--cyan) !important;
}
