.launcher {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 15px 30px 25px;

    border-radius: 8px;
    border: 2px solid #8449BF;
}

.buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    box-sizing: border-box;

    align-items: center;
    justify-content: center;
}

.user {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;

    box-sizing: border-box;

    border-radius: 8px;
    border: 2px solid #8449BF;
    padding: 15px 50px;
    gap: 21px;

}

.infobox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.info {
    display: flex;
    flex: auto;
    margin: 10px;
    flex-direction: column;
}

.gamemode {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-color: #858584;
}

.gamemode:hover {
    background-color: var(--cyan);
}

#progressbar {
    flex: auto;
    background-color: black;
    border-radius: 13px;
    /* (height of inner div) / 2 + padding */
    padding: 3px;
}

#progressbar>div {
    background-color: var(--cyan);
    width: 40%;
    /* Adjust with JavaScript */
    height: 10px;
    border-radius: 10px;
}