.full {
    display: flex;
    flex-direction: column;

    background-origin: content-box;
    background-repeat: no-repeat;
    background-image: url("../../resource/home-forme.svg");
    background-size: cover;
    background-position: 50% 17%;

    width: 100%;
    height: 100%;

    overflow-x: scroll;
}

.home {
    display: flex;
    flex-direction: column;

    align-items: center;
    height: 100%;
}

.desc {
    width: 715px;
    height: 112px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
}

.game {
    width: 954px;
    height: 536px;
    background: dimgrey;
    box-shadow: inset 0 0 16px 22px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

    margin-bottom: 2em;
}