.home {
    display: flex;
    flex-direction: row;
    height: var(--vp-size);
    gap: 10px;
}

.leftside {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;

    box-sizing: border-box;
}

.launcher {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 15px;
    gap: 15px;

    border-radius: 8px;
    border: 2px solid #8449BF;
}

.game-mode-title {
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.buttons {
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: row;
    box-sizing: border-box;

    align-items: center;
    justify-content: center;
}

.user {
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    flex: 2;

    box-sizing: border-box;

    border-radius: 8px;
    border: 2px solid #8449BF;
    padding: 15px 50px;
}

.infobox {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 50%;
    gap: 10px;
}

.info {
    display: flex;
    flex: auto;
    margin: 10px;
    flex-direction: column;
}

.game-mode-button {
    width: 100%;
    height: 100%;
    background-color: #858584;
    border-radius: 8px;
    margin: 10px;
    padding: 0;

    font-size: 100%;
    font-weight: bold;
    font-family: "Space Mono", monospace;
    white-space: nowrap;
}

.matchmaking-button {
    width: 100%;
    height: 100%;
    background-color: #ff0000;
    border-radius: 8px;
    animation: pulse 1s infinite;

    font-size: 200%;
    font-weight: bold;
    font-family: "Space Mono", monospace;
    white-space: nowrap;
}

.matchmaking-button-found {
    width: 100%;
    height: 100%;
    background-color: #00ff00;
    border-radius: 8px;
    animation: pulse 1s infinite;

    font-size: 200%;
    font-weight: bold;
    font-family: "Space Mono", monospace;
    white-space: nowrap;
}

.matchmaking-button-waiting {
    width: 100%;
    height: 100%;
    background-color: #ffff00;
    border-radius: 8px;
    animation: pulse 1s infinite;

    font-size: 200%;
    font-weight: bold;
    font-family: "Space Mono", monospace;
    white-space: nowrap;
}

@keyframes pulse {
    0% {
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        box-shadow: inset 0 0 0 2em rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.game-mode-button:hover {
    background-color: #676767;
}

.matchmaking-button:hover {
    background-color: #770000;
}

.matchmaking-button-found:hover {
    background-color: #007700;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: auto;
    height: 15px;
    background-color: var(--black);
    border-radius: 20px;
    border-color: var(--cyan);
}

progress {
    background-color: var(--cyan);
}

progress::-moz-progress-bar {
    background-color: var(--cyan) !important;
}

.lastmatch {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.gameResult {
    min-width: 60px;
    height: 50px;
    text-align: center;
}

.win {
    color: green;
}

.loose {
    color: red;
}

.statsBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stats {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
