.home {
    display: flex;
    flex-direction: row;
    height: var(--vp-size);
    gap: 10px;
}

.leftside {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;

    box-sizing: border-box;
}

.rightside {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;

    border: 2px solid #8449BF;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.32) 0%, rgba(78, 191, 217, 0.3) 100%);
}

/* Game launcher */
/* ============================= */
.game-launcher {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 15px;
    gap: 15px;

    border-radius: 8px;
    border: 2px solid #8449BF;
}

.game-mode-title {
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.game-mode {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 80%;
    box-sizing: border-box;

    align-items: center;
    justify-content: center;

    gap: 15px;
}

.game-mode-button {
    width: 100%;
    height: 100%;
    background-color: var(--grey);
    border-radius: 8px;

    font-size: 100%;
    font-weight: bold;
    font-family: "Space Mono", monospace;
    white-space: nowrap;
}

.matchmaking-button {
    width: 100%;
    height: 100%;
    background-color: #ff0000;
    border-radius: 8px;
    animation: pulse 1s infinite;

    font-size: 200%;
    font-weight: bold;
    font-family: "Space Mono", monospace;
    white-space: nowrap;
}

.matchmaking-button-found {
    width: 100%;
    height: 100%;
    background-color: #00ff00;
    border-radius: 8px;
    animation: pulse 1s infinite;

    font-size: 200%;
    font-weight: bold;
    font-family: "Space Mono", monospace;
    white-space: nowrap;
}

.matchmaking-button-waiting {
    width: 100%;
    height: 100%;
    background-color: #ffff00;
    border-radius: 8px;
    animation: pulse 1s infinite;

    font-size: 200%;
    font-weight: bold;
    font-family: "Space Mono", monospace;
    white-space: nowrap;
}

@keyframes pulse {
    0% {
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        box-shadow: inset 0 0 0 2em rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.game-mode-button:hover {
    background-color: var(--dark-grey);
}

.matchmaking-button:hover {
    background-color: #770000;
}

.matchmaking-button-found:hover {
    background-color: #007700;
}

/* User Info */
/* ====================== */
.userProfile_container {
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;

    box-sizing: border-box;

    border-radius: 8px;
    border: 2px solid #8449BF;
    padding: 15px 50px;
}

.infobox {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 50%;
    gap: 10px;
}

.info {
    display: flex;
    flex: auto;
    margin: 10px;
    flex-direction: column;
}


.lastmatch {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.gameResult {
    min-width: 60px;
    height: 50px;
    text-align: center;
}

.win {
    color: green;
}

.loose {
    color: red;
}

.statsBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stats {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
