.style {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: var(--vp-size);

  overflow-y: auto;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
