.leaderboard-item {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;

    flex: 1;

    align-items: center;
    justify-content: center;

    height: 60px;
    min-width: 375px;

    margin-bottom: 10px;

    background: var(--black);
    border-radius: 25px;
}

.leaderboard-item:hover {
    box-sizing: border-box;

    background: var(--purple-darker);
    border-radius: 25px;

    border: 4px solid var(--purple-wave);
}

.leaderboard-item:hover #pastille {
    background-color: var(--cyan);
}

#pastille {
    display: flex;
    flex-direction: row;

    flex: 1;

    justify-content: center;
    align-items: center;

    min-width: 35px;
    max-width: 35px;
    height: 35px;

    margin-right: 20px;

    border-radius: 50%;
    background: var(--purple-wave);
}

#LeaderboardProfileLink {
    display: flex;
    flex-direction: row;

    flex: 1;

    justify-content: left;
    align-items: center;

    max-width: 300px;

    gap: 10px;

    text-decoration: none;
    color: var(--white);
}

#LeaderboardProfileLink:hover {
    color: var(--cyan);
}

#ldi-winrate {
    flex: 1 1;
    max-width: 150px;
    min-width: 80px;
    text-align: left;
    margin-right: 20px;
}

#ldi-game-played {
    flex: 1 1;
    max-width: 150px;
    min-width: 50px;
    text-align: left;
}

#ldi-elo {
    flex: 1 1;
    max-width: 150px;
    min-width: 40px;
    text-align: left;
}

@media screen and (width >= 900px) {
    .leaderboard-item {
        width: 900px;
        max-width: 900px;
    }

    #LeaderboardProfileLink {
        min-width: 150px;
    }
}

@media screen and (width < 900px) {
    .leaderboard-item {
        min-width: 100vw;
    }

    #LeaderboardProfileLink {
        min-width: 70px;
    }

    #pastille {
        margin-left: 25px;
    }
}

@media screen and (width < 760px) {
    #ldi-nickname {
        display: none;
    }
}
