.ldi-container {
    width: 50vw;
    min-width: max-content;
}

.leaderboardItem {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 60px;

    margin-bottom: 10px;

    background: var(--black);
    border-radius: 25px;
}

.leaderboardItem:hover {
    box-sizing: border-box;

    background: var(--purple-darker);
    border-radius: 25px;

    border: 4px solid var(--purple-wave);
}

.leaderboardItem:hover #pastille {
    background-color: var(--cyan);
}

#ldi-leftSide {
    display: flex;
    flex-direction: row;
    flex: 1 2 0;

    justify-content: left;
    align-items: center;

    height: 60px;
    min-width: 250px;

    margin-left: 40px;
    gap: 40px;
}

#ldi-rightSide {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex: 1.5 2;

    justify-content: left;
    align-items: center;

    height: fit-content;
    margin-right: 100px;
}

#ldi-winrate, #ldi-game-played, #ldi-elo {
    box-sizing: border-box;
    flex: 1.5 1 0;

    min-width: 100px;

    text-align: center;
    justify-content: left;
}

#ldi-winrate {
    flex: 2 1.5;
}

#ldi-game-played {
    flex: 2 1;
}

#pastille {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;

    border-radius: 50%;
    background: var(--purple-wave);
}

#LeaderboardProfileLink {
    display: flex;
    flex-direction: row;

    min-width: 150px;

    justify-content: left;
    align-items: center;

    gap: 20px;

    text-decoration: none;
    color: var(--white);
}

#LeaderboardProfileLink:hover {
    color: var(--cyan);
}
