.leftMenu {
    display: flex;
    flex: auto;

    padding-left: 6em;
}

.leftLinks{
    display: flex;
    padding-left: 1em;

    height: 45px;
    width: max-content;

    align-items: center;
    text-align: center;
}

.navLink {
    display: flex;

    width: 70px;
    height: 30px;
    margin: 0 10px 0 10px;
    border-radius: 8px;

    color: white;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.navLink:hover {
    background-color: var(--cyan);
}
