.leftMenu {
    display: flex;
    flex: auto;
    padding-left: 6em;

}

.leftButtons {
    display: flex;
    align-items: center;
}

.rightMenu {
    display: flex;
    flex-direction: row;
    padding-right: 6em;
    gap: 10px;
}