.navLink {
    display: flex;

    width: 70px;
    height: 30px;
    margin: 0 10px 0 10px;
    padding: 0 5px;
    border-radius: 8px;

    color: white;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.navLink:hover {
    background-color: var(--cyan);
}

.login-button {
    display: flex;

    width: 70px;
    height: 30px;
    margin: 0 10px 0 10px;
    border-radius: 8px;

    color: white;
    justify-content: center;
    align-items: center;

    border: none;
    background-color: transparent;

    font-family: "Space Mono", monospace;
    font-size: 15px;
    font-weight: bold;
}

.login-button:hover {
    background-color: var(--cyan);
}

.signup-button{
    display: flex;
    align-items: center;

    color: white;
    background: #8449BF;

    width: max-content;
    height: 30px;
    padding: 0 10px 0 10px;
    margin: 0 10px 0 10px;
    border-radius: 8px;

    text-align: center;
    text-decoration: none;
    border: none;

    font-family: "Space Mono", monospace;
    font-size: 15px;
    font-weight: bold;
}

.signup-button:hover{
    background: #00CCCC;
}

.rightMenu {
    display: flex;
    flex-direction: row;
    padding-right: 6em;
    gap: 10px;
}

.disconnect {
    text-align: center;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}