.navLink {
    display: flex;

    max-width: 80px;
    width: fit-content;
    height: 30px;

    padding: 0 20px;
    border-radius: 8px;

    color: white;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.navLink:hover {
    background-color: var(--cyan);
}

.playButton {
    display: flex;
    width: 70px;
    height: 30px;
    margin: 0 10px 0 10px;
    padding: 0 5px;
    border-radius: 8px;

    color: white;
    background-color: var(--purple-wave);
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.playButton:hover {
    background-color: var(--purple-dark);
}

.login-button {
    display: flex;

    width: 70px;
    height: 30px;
    margin: 0 10px 0 10px;
    border-radius: 8px;

    color: white;
    justify-content: center;
    align-items: center;

    border: none;
    background-color: transparent;

    font-family: "Space Mono", monospace;
    font-size: 15px;
    font-weight: bold;
}

.login-button:hover {
    background-color: var(--cyan);
}

.signup-button{
    display: flex;
    align-items: center;

    color: white;
    background: #8449BF;

    width: max-content;
    height: 30px;
    padding: 0 10px 0 10px;
    margin: 0 10px 0 10px;
    border-radius: 8px;

    text-align: center;
    text-decoration: none;
    border: none;

    font-family: "Space Mono", monospace;
    font-size: 15px;
    font-weight: bold;
}

.signup-button:hover{
    background: #00CCCC;
}

#disconnectButton:hover {
    background-color: var(--purple-dark);
}

.notifs {
    display: flex;
    flex-direction: row;

    width: fit-content;
    height: 30px;
    padding-right: 10px;
    margin-right: 10px;

    border-radius: 8px;

    color: white;
    align-items: center;

    border: none;
    background-color: transparent;

    font-family: "Space Mono", monospace;
    font-size: 15px;
    font-weight: bold;
}

.notifs:hover{
    background: var(--cyan);;
}