.rightMenu-logged {
    display: flex;
    max-width: max-content;
    flex-direction: row;
    background-color: #00CCCC;
    align-items: center;
    gap: 10px;
}

.disconnect {
    text-decoration: none;
}