#root {
    margin: 0;
    padding: 0;
}

.redirs {
    display: flex;
    flex-direction: column;

    min-width: 100%;
    min-height: 100%;

    background-origin: content-box;
    background-repeat: no-repeat;
    background-image: url("../resource/home-forme.svg");
    background-size: cover;
    background-position: 50% 17%;
}