.div-link{
    width: 65px;
    height: 22px;

    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 700;
    font-size: 70%;
    line-height: 140%;
    text-decoration: none;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.div-signup{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div-signup-button{
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 700;
    font-size: 80%;
    color: #FFFFFF;

    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

    width: 85px;
    height: 25px;

    background: #8449BF;
    box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
    border-radius: 6px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.div-signup-button:hover{
    background: #00CCCC;
}


.div-logo-link{
    width: 20px;
    height: 20px;

    margin-right: 4px;
}
