.chat-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.chat{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex: 3 2;
    
    height: 80%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(254, 254, 254, 0.1) ;
    border-radius: 20px;
}

.chat-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    align-items: center;
    border-radius: 10px;
    text-align: center;

    height: 100%;
    width: 100%;
}

#rcv-mess-container{
    flex: 1;
    flex-grow: 2;
    display: flex;
    position: relative;

    width: 100%;
    overflow-y: auto;
}

.list-msg-container{
    margin: 0;
    padding: 0;
    width: 100%;

    display: flex;
    position: absolute;
    z-index: 1;
    flex-direction: column;
}

.Rcv {
    display: flex;
    position: relative;
    flex-direction: column;
    list-style-type: none;
    text-align: left;
    margin: 5px;
    overflow-wrap: break-word;
}

.Emt {
    display: flex;
    position: relative;
    flex-direction: column;
    list-style-type: none;
    text-align: right;
    margin: 5px;
    overflow-wrap: break-word;
}

.Serv {
    display: flex;
    position: relative;
    flex-direction: column;
    list-style-type: none;
    text-align: right;
    margin: 5px;
    overflow-wrap: break-word;
    color: rgb(227, 21, 21);
}

.Announce {
    display: flex;
    position: relative;
    flex-direction: column;
    list-style-type: none;
    text-align: justify;
    margin: 5px;
    overflow-wrap: break-word;
}

.contain-ann-msg{
    display: table-caption;;
    border-radius: 5px;
    padding: 5px;
    background-color: #2c1c598e;
    overflow-wrap: break-word;
    text-align: center;
}

.contain-serv-msg{
    display: table-caption;;
    border-radius: 5px;
    padding: 5px;
    background-color: #2c1c598e;
    overflow-wrap: break-word;
    text-align: center;
}

.contain-emt {
    cursor: pointer;
    overflow-wrap: break-word;
    width: 100%;
}

.Rcv .contain-msg{
    display: table-caption;;
    border-radius: 5px;
    padding: 5px;
    background-color: #4E458C;
    overflow-wrap: break-word;
}

.Emt .contain-msg{
    display: table-caption;;
    border-radius: 5px;
    padding: 5px;
    background-color: #00CCCC;
    overflow-wrap: break-word;
}

.container-action-chat {
    display: flex;
    flex-direction: row;

    height: max-content;
}

.btn-chat-principal{
    height: 25px;
    background-color: rgb(115, 6, 161);
    color: var(--white);
    border-radius: 0 10px 10px 0;
    font-weight: bold;
    cursor: pointer;
}

.btn-chat-principal:hover{
    background-color: rgb(137, 51, 174);
}

.input-chat-principal{
    height: 20px;
    background-color: white;
    color: black;
    border-radius: 10px 0 0 10px;
    margin: 10px 0 10px 0;
    width: 60%;
}

.send-mess-container {
    width: 100%;
}

.button-chat {
    margin: 10px;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(115, 6, 161);
    color: white;
    cursor: pointer;
}

.button-chat:hover {
    background-color: rgb(137, 51, 174);
}

.list {
    display: flex;
    flex-direction: row;
}

.add {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(115, 6, 161);
    font-weight: bold;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.add:hover {
    background-color: rgb(137, 51, 174);
}

.addImg {
    display: flex;
    height: 20px;
    width: 20px;
}

.join-form {
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: column;

    top: 20%;
    left: 1%;
    max-width: fit-content;

    align-items: center;
    justify-items: center;

    padding: 1em 1em 1em 1em;

    background-color: var(--bg);
    border: 2px solid var(--purple-darker);
    border-radius: 20px;
}

.join-form-form {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-items: center;
}

.input-join {
    border-radius: 10px;
}

.buttons-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 99;

    top: 20%;
    max-width: 250px;
    overflow-x: auto;

    align-items: center;
    text-align: center;
    justify-items: center;

    padding: 1em 2em 1em 2em;

    background-color: var(--bg);
    border: 2px solid var(--purple-darker);
    border-radius: 20px;
}

.title-form-chat {
    display: flex;
    max-width: 280px;;

    text-align: center;
    font-size: max(0.7vw, 20px);
    overflow-wrap: break-word;
}

.logo-chnl {
    height: 50px;
}

.ctn-btn-action {
    display: flex;
    max-width: 250px;
    flex-direction: row;
    overflow-x: auto;
}

.chat-buttons{
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(115, 6, 161);
    font-weight: bold;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.chat-buttons:hover {
    background-color: rgb(137, 51, 174);
}

.chat-avatar-prv {
    width: 50px;
    border-radius: 25%;
}

.btn-prv {
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(115, 6, 161);
    font-weight: bold;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.li-prv {
    list-style: none;
}

.btn-handle-prv {
    z-index:91;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.chat-list-ctnr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pop-private {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 90;

    top: 20%;
    max-width: 500px;
    overflow-x: auto;

    align-items: center;
    justify-items: center;

    padding: 1em 2em 1em 2em;

    background-color: var(--bg);
    border: 2px solid var(--purple-darker);
    border-radius: 20px;
}

@media screen and (width < 1200px) {
    .pop-private {
        left: 1%;
    }

    .pop-invite {
        left: 1%;
    }
}

@media screen and (width >= 1200px) {
    .join-form {
        left: 5%;
    }
    
    .pop-private {
        left: 5%;
    }

    .pop-invite {
        left: 5%;
    }
}

@media screen and (width >= 1500px) {
    .join-form {
        left: 10%;
    }

    .pop-private {
        left: 10%;
    }

    .pop-invite {
        left: 10%;
    }
}

.user-lists {
    display: flex;

    height: 100%;
    width: 50%;
    background-color: #2b2b3143;

    border-radius: 10px;
    align-items: center;
    text-align: center;
}

.ctnr-param {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 90;

    top: 30%;
    min-width: max-content;

    align-items: center;
    justify-items: center;

    padding: 1em 2em 1em 2em;

    background-color: var(--bg);
    border: 2px solid var(--purple-darker);
    border-radius: 20px;
}

.form-param {
    display: flex;
    flex-direction: column;
}

.chat-line {
    display: flex;
    flex-direction: row;
}

.logo-chat {
    width: 50px;
}

.pop-invite {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 90;

    top: 20%;
    max-width: 500px;
    overflow-x: auto;

    align-items: center;
    justify-items: center;

    padding: 1em 2em 1em 2em;

    background-color: var(--bg);
    border: 2px solid var(--purple-darker);
    border-radius: 20px;
}

.test {
    width: 100%;
}

.selectName {
    width: 100%;
    color: black;
}