.chat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: rgba(254, 254, 254, 0.1) ;
    text-align: center;
}

.rcv-mess-container{
    flex-grow: 2;
    width: 100%;
    max-height: 700px;
    overflow-y: scroll;
}

.list-msg-container{
    margin: 0;
    padding: 0;
}

.Rcv {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: left;
    margin: 5px;
}

.Emt {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: right;
    margin: 5px;
}

.contain-emt {
    cursor: pointer;
}

.Rcv .contain-msg{
    display: grid;
    border-radius: 5px;
    padding: 5px;
    background-color: #4E458C;
}

.Emt .contain-msg{
    display: table;
    border-radius: 5px;
    padding: 5px;
    background-color: #00CCCC;
}

.container-action-chat {
    width: 80%;
    display: flex;
    flex-direction: row;
    height: 80px;
}

.btn-chat-principal{
    height: 25px;
    background-color: var(--purple-wave);
    color: var(--white);
    border-radius: 0 10px 10px 0;
    font-weight: bold;
    cursor: pointer;
}

.btn-chat-principal:hover{
    background-color: var(--purple-darker);
}

.input-chat-principal{
    height: 20px;
    background-color: white;
    color: black;
    border-radius: 10px 0 0 10px;
    margin: 10px 0 10px 0;
}