.chat{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 3 2;

    justify-content: center;
    align-items: center;
}

.chat-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    align-items: center;
    border-radius: 10px;
    background: rgba(254, 254, 254, 0.1) ;
    text-align: center;

    height: 100%;
    width: 100%;

    border-radius: 10px;
    background: rgba(254, 254, 254, 0.1);
}

.rcv-mess-container{
    flex: 1;
    flex-grow: 2;

    width: 100%;
    overflow-y: scroll;
}

.list-msg-container{
    margin: 0;
    padding: 0;
}

.Rcv {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: left;
    margin: 5px;
}

.Emt {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: right;
    margin: 5px;
}

.contain-emt {
    cursor: pointer;
}

.Rcv .contain-msg{
    display: grid;
    border-radius: 5px;
    padding: 5px;
    background-color: #4E458C;
}

.Emt .contain-msg{
    display: table;
    border-radius: 5px;
    padding: 5px;
    background-color: #00CCCC;
}

.container-action-chat {
    display: flex;
    flex-direction: row;

    height: max-content;
}

.btn-chat-principal{
    height: 25px;
    background-color: rgb(115, 6, 161);
    color: var(--white);
    border-radius: 0 10px 10px 0;
    font-weight: bold;
    cursor: pointer;
}

.btn-chat-principal:hover{
    background-color: rgb(137, 51, 174);
}

.input-chat-principal{
    height: 20px;
    background-color: white;
    color: black;
    border-radius: 10px 0 0 10px;
    margin: 10px 0 10px 0;
    width: 60%;
}

.send-mess-container {
    width: 100%;
}

.quit-button {
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(115, 6, 161);
    color: white;
    cursor: pointer;
}

.quit-button:hover {
    background-color: rgb(137, 51, 174);
}

.list {
    display: flex;
    flex-direction: row;
}

.add {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(115, 6, 161);
    font-weight: bold;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.add:hover {
    background-color: rgb(137, 51, 174);
}

.addImg {
    display: flex;
    height: 20px;
    width: 20px;
}

.join-form {
    position: absolute;
    display: flex;
    flex-direction: column;

    top: 20%;
    min-width: max-content;

    align-items: center;
    justify-items: center;

    padding: 1em 2em 1em 2em;

    background-color: var(--bg);
    border: 2px solid var(--purple-darker);
    border-radius: 20px;
}

.input-join {
    border-radius: 10px;
}

.buttons-form {
    position: absolute;
    display: flex;
    flex-direction: column;

    top: 20%;
    min-width: max-content;

    align-items: center;
    justify-items: center;

    padding: 1em 2em 1em 2em;

    background-color: var(--bg);
    border: 2px solid var(--purple-darker);
    border-radius: 20px;
}

.logo-chnl {
    height: 50px;
}

.ctn-btn-action {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}
.chat-buttons {
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(115, 6, 161);
    font-weight: bold;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.chat-buttons:hover {
    background-color: rgb(137, 51, 174);
}