.chat-div {
    height: auto;
}

.list-msg-container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 500px;

    display: flex;
    position: absolute;
    z-index: 1;
    flex-direction: column;
}