.about-page {
    display: flex;
    align-items: center;
    text-align: center;

    flex-direction: column;
    height: var(--vp-size);
    overflow-y: auto;
}

.about-dev-cards {
    align-items: center;
    text-align: center;

    flex-direction: row;
    height: fit-content;
    justify-content: center;
    gap: 20px;
    @media screen and (width > 1100px) {
        display: flex;
    }
}

.about-main-title {
    display: flex;

    align-items: center;
    text-align: center;
    justify-content: center;

    width: 100%;
}

.about-title {
    display: flex;

    align-items: center;
    text-align: center;
    justify-content: center;
    text-justify: auto;

    width: 100%;
    padding-bottom: 20px;

}

.about-img {
    border-radius: 50%;
    object-fit: cover;
}

.about-dev-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-dev-title {
    text-align: center;
    font-size: max(1vw, 25px);
}

@media screen and (width <= 800px) {
    .about-img {
        width: 200px;
        height: 200px;
    }

    .about-main-title {
        font-size: max(1vw, 25px);
    }

    .about-title {
        font-size: max(1vw, 20px);
        max-width: 400px;
    }
}

@media screen and (width > 800px) {
    .about-img {
        width: 250px;
        height: 250px;
    }

    .about-main-title {
        font-size: max(1vw, 35px);
    }

    .about-title {
        font-size: max(1vw, 25px);
        max-width: 1000px;
    }
}