.chatBox {
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 95%;
    box-sizing: border-box;

    border: 2px solid #8449BF;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.32) 0%, rgba(78, 191, 217, 0.3) 100%);
}

.chat {
    flex: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    padding: 20px 10px;
}

.friendList {
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: var(--black);
    width: 30%;
    text-align: center;
}

.messageList {
    flex: auto;
    overflow-anchor: auto;
    max-height: 100%;
    overflow-y: auto;
    padding: 10px 10px;
}
