.leaderboard {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-width: 375px;

    align-items: center;

    overflow-y: auto;
}

#title {
    display: block;
    flex: none;
    text-align: center;
    margin: 0;
    padding: 10px;
}

.table-header {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;

    height: 45px;

    align-items: center;
    justify-content: center;
}

@media screen and (width >= 900px) {
    .table-header {
        width: 900px;
        max-width: 900px;
    }


    #ld-rank {
        margin-left: 50px;
    }
}

@media screen and (width < 900px) {
    .table-header {
        min-width: 100vw;
    }

    #ld-rank {
        margin-left: 40px;
    }
}

#ld-rank {
    flex: 1;
    max-width: 40px;
    min-width: 40px;

    text-align: left;
}

#ld-player {
    flex: 1;
    max-width: 300px;
    min-width: 70px;

    text-align: left;
}

#ld-winrate {
    flex: 1;

    max-width: 150px;
    min-width: 80px;

    text-align: left;
}

#ld-game-played {
    flex: 1;

    max-width: 150px;
    min-width: 80px;

    text-align: left;
  }

#ld-elo {
    flex: 1;

    max-width: 200px;
    min-width: 40px;

    text-align: left;
}