.leaderboard {
    display: flex;
    flex-direction: column;

    height: var(--vp-size);
    width: 100%;

    align-items: center;

    overflow-y: auto;
}

#title {
    display: block;
    flex: none;
    text-align: center;
    margin: 0;
    padding: 10px;
}

.tableHeader {
    display: flex;
    flex-direction: row;

    width: 50vw;
    height: 45px;

    align-items: center;
    justify-content: center;
}

#tableLeft {
    display: flex;
    flex-direction: row;
    flex: 1 2 0;

    align-items: center;

    min-width: 250px;

    margin-left: 50px;
    gap: 60px;
}

#tableRight {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex: 1.5 2 0;

    justify-content: center;
    align-items: center;

    height: fit-content;
    margin-right: 100px;
}

#ld-winrate, #ld-game-played, #ld-elo {
    box-sizing: border-box;
    flex: 1 auto;

    width: max-content;
    min-width: 100px;

    text-align: center;
}