.leaderboard {
    display: flex;
    flex-direction: column;

    height: var(--vp-size);
    width: 100%;

    align-items: center;

    overflow-y: auto;
}

#title {
    display: block;
    flex: none;
    text-align: center;
    margin: 0;
    padding: 10px;
}

.tableHeader {
    display: flex;
    flex-direction: row;

    width: 50vw;
    height: 45px;

    align-items: center;
    justify-content: center;

    gap: 300px;

}

#tableLeft {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 35px;

    width: fit-content;
    height: 24px;
}

#tableRight {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    padding: 0;
    gap: 80px;

    height: fit-content;
}