#container-create-channel, #container-ban-channel, #container-operator-channel, #container-private-message,  #container-kick-channel, #container-blocked-users{
    position: absolute;
    display: none;
    left: -80px;
    top: 70px;
    border-radius: 5px;
    background-color: #8449BF;
    padding: 10px;
}
#container-all-join, #container-all-private,#container-all-operator,#container-all-kick,#container-all-ban,#container-all-blocked,#container-all-blocked,#container-quit-channel{
    position: relative;
}

#container-all-join{
    order: 0;
}

#container-all-private{
    order: 1;
}

#container-all-operator{
    order: 2;
}

#container-all-kick{
    order: 3;
}

#container-all-ban{
    order: 4;
}

#container-all-blocked{
    order: 5;
}

#container-quit-channel{
    order: 6;
}

.form-action {
    display: flex;
    flex-direction: column;
}

.input-form-command {
    border-radius: 5px;
    margin-bottom: 5px;
}

.submit-button-form {
    margin: auto;
    font-family: "Space Mono", monospace;
    width: 70px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    background-color: white;
    padding: 2px;
    border: 1px solid var(--purple-wave);
    font-weight: bold;
}

.cache-input {
    display: none;
}

.logo-chat{
    width: 30px;
}

.logo-chat:hover{
    cursor: pointer;
    opacity: 0.5;
}

.cmd-container-channel{
    font-size: 20px;
}

.button-close-cmd{
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 20px;
    cursor: pointer;
}