.background {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    backdrop-filter: blur(10px);

    overflow-y: auto;
}

.authForm {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-items: center;

    width: fit-content;
    height: fit-content;

    padding: 1em 4em 1em 4em;

    background-color: var(--bg);
    border: 2px solid var(--purple-darker);
    border-radius: 20px;
}

.authForm > .desc {
    font-size: 22px;
    line-height: 110%;

    width: fit-content;
    height: fit-content;

    padding: 20px;
}

.halfInput {
    display: flex;
    flex-direction: row;

    gap: 10px;
}

.link42 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 358px;
    height: 46px;
    border-radius: 8px;
    margin: 5px 0 0 0;

    gap: 10px;

    color: white;
    background-color: var(--purple-wave);
}

.link42:hover {
    background-color: var(--cyan);
}

.submitButton {
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 358px;
    height: 46px;
    border-radius: 8px;
    margin: 20px 0 5px 0;

    color: white;
    background-color: var(--purple-wave);
    font-family: 'Space Mono', monospace;
    font-weight: bold;
}

.submitButton:hover {
    background-color: var(--cyan);
    cursor: pointer;
}

.formOption {
    display: flex;
    flex-direction: row;

    margin-top: 10px;

    gap: 60px;
    font-size: 14px;
}

.forgetPassLink {
    color: var(--cyan);
}

.authFooter {
    display: flex;
    flex-direction: row;

    margin-top: 15px;
    font-size: 14px;

    gap: 10px;
}

.authFooter > .link {
    color: var(--cyan);
}

.error {
    color: red;
}

.bottomLink {
    color: var(--cyan);
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
}

.bottomLink:hover {
    color: var(--purple-wave);
}