<!DOCTYPE html>
<html>
<body>
    <div>
        <p>Hey {{ name }},</p>
        <p>This is your confirmation code. Please enter the code in the page.</p>
        <p>Your code: {{ code }}</p>
        <p>If you did not request this email you can safely ignore it.</p>
    </div>
</body>
</html>
