<script>
    function sentConfirmation(name: string) {
        await axios.put("http://localhost:5400/auth/" + name);
    }

</script>

<!DOCTYPE html>
<html>
<body>
    <div>
        <p>Hey {{ name }},</p>
        <p>This is your confirmation code. Please return to our Website and enter the code</p>
        <p>
            <button onclick="sentConfirmation({{ name }})" >Confirm</button>
        </p>
        <p>If you did not request this email you can safely ignore it.</p>
    </div>
</body>
</html>  