<!DOCTYPE html>
<html>
<body>
    <div>
        <p>Hey {{ name }},</p>
        <p>This is your confirmation link. Please click on it to Validate and Confirm your email</p>
        <p>
            <a href={{ url }}>Confirmation</a>
        </p>
        <p>If you did not request this email you can safely ignore it.</p>
    </div>
</body>
</html>
